.product {
    display: flex;
    flex-direction: column;
    border: 1px solid #212523;
    padding: 15px;
    width: 170px;
    border-radius: 8px;
}

.img {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background: #145034;
    /*background-image: url("");*/
}

.title {
    padding: 0 5px;
    font-size: 18px;
    font-weight: bolder;
}

.description {
    font-size: 0.8em;
}

.add-btn {
    width: 100%;
}